<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313007468472-nnk5rjvlv2jsbjbjtd4j02bev4u2ouas.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313007468472-nnk5rjvlv2jsbjbjtd4j02bev4u2ouas</string>
	<key>API_KEY</key>
	<string>AIzaSyDjWWjSP7RgEmD3vW5NroqdIPOmpBROxoo</string>
	<key>GCM_SENDER_ID</key>
	<string>313007468472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faisal.sellersapp</string>
	<key>PROJECT_ID</key>
	<string>foodordering-clone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>foodordering-clone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313007468472:ios:288396dd418017fd83a94d</string>
</dict>
</plist>